more_itertools
numpy
torch
tqdm
retry
pytest
pyyaml
tensorboardX
tensorboard
wandb
git+https://github.com/Hiroshiba/pytorch-trainer@1.3.1
git+https://github.com/Hiroshiba/acoustic_feature_extractor@db621adef6ef3899e113d34a890b55df75182bc2
